.widget-basecryptoportfolio-{{id}} {
  padding-top: 10px;
  vertical-align: top;
}

.widget-basecryptoportfolio-{{id}} h1 {
  margin-bottom: 20px;
}

.widget-basecryptoportfolio-{{id}} .alert .title,
.widget-basecryptoportfolio-{{id}} .alert .icon,
.widget-basecryptoportfolio-{{id}} .alert .value {
  color: #fff !important;
}

.widget-basecryptoportfolio-{{id}} .title {
  color: #777;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  text-shadow: 2px 2px 5px #111;
}

.widget-basecryptoportfolio-{{id}} .value {
  font-size: 60px;
  font-weight: bold;
  display: inline-block;
  text-shadow: 2px 2px 5px #111;
}

.widget-basecryptoportfolio-{{id}} .icon {
  font-size: 40px;
  padding-right: 8px;
  display: inline-block;
  color: #777;
}

/* Icon colors */
/*.widget-basecryptoportfolio-{{id}} .mdi-train { color: #4b595e; } 4b595e ff6d6d*/
/* .widget-basecryptoportfolio-{{id}} .mdi-train { color: #4b595e; } 
.widget-basecryptoportfolio-{{id}} .alert-color{ color: #4b595e; } */
